<font color='darkred'> Unless otherwise noted, **this notebook will not be reviewed or autograded.**</font> You are welcome to use it for scratchwork, but **only the files listed in the exercises will be checked.**

---

# Exercises

For these exercises, add your functions to the *apputil\.py* file. If you like, you're welcome to adjust the *app\.py* file, but it is not required.

## Notes on Recursion

A [recursive function](https://www.w3schools.com/python/gloss_python_function_recursion.asp) is one which calls itself.

1. When the function is called, your CPU runs through each line of code until the function needs to be called again.
2. At that point, all variables are saved in memory, and the function runs through each line of code again until the function is called (again, but with a different passed argument), and so on.
3. Eventually, this process will stop at the "bottom of the **stack**", where the function doesn't get a chance to call itself again (likely because of some condition un/met by the latest passed argument).
4. Then, your CPU will work its way back up the stack to the final result. For example, take a look at [this visual example](https://realpython.com/python-recursion/#calculate-factorial) of calculating 4!.

When you write these functions, keep two things in mind:

- You will need a built-in stopping point (i.e., the "bottom"), where your function returns some result before it calls itself.
- **Don't think too hard about this.** Recursion can be perplexing to conceptualize when writing the code. So, when you call the function inside the function, think about it as a magical "hidden" function that has already done what you want it to do.
- [Python Tutor](https://pythontutor.com/) ([editor](https://pythontutor.com/visualize.html#mode=edit)) can be a helpful resource for this exercise!

## Exercise 1

The Fibonacci Series is credited to Leonardo Bonacci (_**fi**lius Bonacci_, 'son of Bonacci'), but can be traced back to early Indian mathematicians (circa 400BC). Starting with $\{0, \ 1\}$, each of the following numbers are the sum of the previous two numbers in the series.

`0 1 1 2 3 5 8 13 21 34 ...`

So, `fibonacci(9) = 34`. *Note: If the sequence starts with $\{2,\ 1\}$, it is then the [Lucas Sequence](https://en.wikipedia.org/wiki/Lucas_number).*

Write a recursive function (`fibonacci`) that, given `n`, will return the `n`th number of the Fibonacci Series.

*Test your function using Google or any other tool that can calculate the Fibonacci Series.*

In [18]:
import pandas as pd
import numpy as np

def fibonacci(n):
     return n if n <=1 else fibonacci(n - 1) + fibonacci(n - 2)


print(fibonacci(9))

34


## Exercise 2

Write a (single) recursive function, `to_binary()`, that [converts](https://en.wikipedia.org/wiki/Binary_number#Conversion_to_and_from_other_numeral_systems) an integer into its [binary](https://en.wikipedia.org/wiki/Binary_number) representation. So, for example:

```python
to_binary(2)   -->  10
to_binary(12)  -->  1100
```

*Note: you can test your function with the built in `bin()` function.*

In [ ]:
def to_binary(n):
    """Return the binary representation of a non-negative integer using recursion."""
    if n < 2:
        return str(n)

    return to_binary(n // 2) + str(n % 2)

print(to_binary(12))

1100

'1100'

## Exercise 3 

Use the raw Bellevue Almshouse Dataset (`df_bellevue`) extracted at the top of the lab (i.e., with `pd.read_csv ...`).

**Write a function for each of the following tasks. Name these functions `task_i()`** (i.e., without any input arguments).

1. Return a list of all column names, *sorted* such that the first column has the *least* missing values, and the last column has the *most* missing values (use the raw column names).
   - *Note: there is an issue with the `gender` column you'll need to remedy first ...*
2. Return a **data frame** with two columns:
   - the year (for each year in the data), `year`
   - the total number of entries (immigrant admissions) for each year, `total_admissions`
3. Return a **series** with:
   - Index: gender (for each gender in the data)
   - Values: the average age for the indexed gender.
4. Return a list of the 5 most common professions *in order of prevalence* (so, the most common is first).

For each of these, if there are messy data issues, use the `print` statement to explain.

In [63]:
url = 'https://github.com/melaniewalsh/Intro-Cultural-Analytics/raw/master/book/data/bellevue_almshouse_modified.csv'

df_bellevue = pd.read_csv(url)
# df_bellevue = pd.read_csv('./data/.../mydata.csv')  # you can also reference locally stored data

In [57]:
df_bellevue.shape

(9584, 8)

In [58]:
df_bellevue.values

array([['1847-04-17', 'Mary', 'Gallagher', ..., 'married', 'w',
        'Child Alana 10 days'],
       ['1847-04-08', 'John', 'Sanin (?)', ..., 'laborer', 'm',
        'Catherine 2 mo'],
       ['1847-04-17', 'Anthony', 'Clark', ..., 'laborer', 'm',
        'Charles Riley afed 10 days'],
       ...,
       ['1847-07-02', 'Martin', 'Dunn', ..., nan, 'm', nan],
       ['1847-07-08', 'Elizabeth', 'Post', ..., nan, 'w', nan],
       ['1847-04-28', 'Bridget', 'Ryan', ..., 'spinster', 'w', nan]],
      dtype=object)

In [59]:
df_bellevue

,date_in,first_name,last_name,age,disease,profession,gender,children
0,1847-04-17,Mary,Gallagher,28.0,recent emigrant,married,w,Child Alana 10 days
1,1847-04-08,John,Sanin (?),19.0,recent emigrant,laborer,m,Catherine 2 mo
2,1847-04-17,Anthony,Clark,60.0,recent emigrant,laborer,m,Charles Riley afed 10 days
3,1847-04-08,Lawrence,Feeney,32.0,recent emigrant,laborer,m,Child
4,1847-04-13,Henry,Joyce,21.0,recent emigrant,NaN,m,Child 1 mo
...,...,...,...,...,...,...,...,...
9579,1847-06-17,Mary,Smith,47.0,NaN,NaN,w,NaN
9580,1847-06-22,Francis,Riley,29.0,lame,superintendent,m,NaN
9581,1847-07-02,Martin,Dunn,4.0,NaN,NaN,m,NaN
9582,1847-07-08,Elizabeth,Post,32.0,NaN,NaN,w,NaN
9583,1847-04-28,Bridget,Ryan,28.0,destitution,spinster,w,NaN

In [60]:
df_bellevue['gender'].unique()

array(['w', 'm', '?', 'h', 'g'], dtype=object)

In [73]:
def task_1():
    """Return column names sorted by increasing number of missing values."""
    df = df_bellevue.copy()

    print(
        "Cleaning gender column: standardizing case and converting blanks to NA."
    )
    df["gender"] = df["gender"].str.strip().str.lower()
    df_bellevue[df_bellevue['gender'].isin(['w', 'm'])]
    df["gender"] = df["gender"].replace("", pd.NA)

    missing_counts = df.isna().sum()
    sorted_columns = missing_counts.sort_values().index.tolist()

    return sorted_columns

print(task_1())

Cleaning gender column: standardizing case and converting blanks to NA.
['date_in', 'last_name', 'gender', 'first_name', 'age', 'profession', 'disease', 'children']

In [78]:

def task_2():
    """Return a DataFrame of total admissions per year."""
    df = df_bellevue.copy()

    print("Extracting year from date_in column.")

    df["date_in"] = pd.to_datetime(df["date_in"], errors="coerce")
    df["year"] = df["date_in"].dt.year

    admissions_per_year = (
        df.groupby("year")
        .size()
        .reset_index(name="total_admissions")
        .sort_values("year")
    )

    return admissions_per_year

print(task_2())

Extracting year from date_in column.
   year  total_admissions
0  1846              3073
1  1847              6511

In [71]:
def task_3():
    """Return a Series of average age indexed by gender."""
    df = df_bellevue.copy()

    print(
        "Cleaning gender column and dropping rows with missing gender or age."
    )
    df = df_bellevue[df_bellevue['gender'].isin(['w', 'm'])]
    df = df.dropna(subset=["gender", "age"])

    average_age = df.groupby("gender")["age"].mean()

    return average_age

print(task_3())

Cleaning gender column and dropping rows with missing gender or age.
gender
m    31.813433
w    28.725162
Name: age, dtype: float64

In [69]:
def task_4():
    """Return a list of the five most common professions."""
    df = df_bellevue.copy()

    print(
        "Cleaning profession column: standardizing text and removing missing values."
    )
    df["profession"] = df["profession"].str.strip().str.lower()
    df["profession"] = df["profession"].replace("", pd.NA)

    df = df.dropna(subset=["profession"])

    top_professions = (
        df["profession"]
        .value_counts()
        .head(5)
        .index
        .tolist()
    )

    return top_professions

print(task_4())

Cleaning profession column: standardizing text and removing missing values.
['laborer', 'married', 'spinster', 'widow', 'shoemaker']

## (Optional) Bonus Exercise 4

[Memoization](https://en.wikipedia.org/wiki/Memoization) is a technique where you store the results of expensive function calls and return the cached result when the same inputs occur again. This is a form of dynamic programming, and we can apply it to either of the above recursive functions to improve efficiency.

Write a memoized version of either the `fibonacci` or `to_binary` function above. *Hint: consider using a `global`ly defined `defaultdict`.*

In [82]:
from collections import defaultdict

memo = defaultdict(int)

def fibonacci(n):
    if n <= 1:
        return n

    if n in memo:
        return memo[n]

    result = fibonacci(n - 1) + fibonacci(n - 2)
    memo[n] = result

    return result


print(fibonacci(23))

28657